In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sys, os
import analyze_covid
import airport_data_explore

/home/aytang/sfuhome/353project/airport_data_explore.py:144: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  canada['Date'] = pd.to_datetime(canada['Date'])

In [3]:
covidNA = pd.read_csv('casesNA.csv',compression = 'gzip')
#traffic = pd.read_csv("airport_traffic_NA.csv")
#coviddata/casesCanada.csv, casesUS.csv

In [72]:
# Unload stored dataframes from other notebooks within directory
%store -r

# Airport Grouping
Adaptation of http://eyana.me/nearest-distance-python/

In [79]:
#airportLocations = rankNA.drop(columns = ["Version", "PercentOfBaseline"])
naAirports = na.drop(columns = ["AggregationMethod", "Version", "Centroid", "ISO_3166_2", "Geography", "geometry", "index"])
airportLocations = naAirports.drop(columns = ["Date", "PercentOfBaseline"]).drop_duplicates().dropna().reset_index(drop = True)
airportLocationsCA = airportLocations[airportLocations["Country"] == "Canada"]
airportLocationsUS = airportLocations[airportLocations["Country"] != "Canada"]
airportLocations

,AirportName,City,State,Country,lat,long
0,Los Angeles International,Los Angeles,California,United States of America (the),33.941369,-118.404993
1,San Francisco International,South San Francisco,California,United States of America (the),37.621188,-122.383935
2,Denver International,Denver,Colorado,United States of America (the),39.864347,-104.700316
3,Miami International,Miami Springs,Florida,United States of America (the),25.795724,-80.288715
4,Hartsfield-Jackson Atlanta International,College Park,Georgia,United States of America (the),33.641076,-84.427919
5,Daniel K. Inouye International,Urban Honolulu,Hawaii,United States of America (the),21.325965,-157.918285
6,Chicago OHare International,Chicago,Illinois,United States of America (the),41.980460,-87.910595
7,Boston Logan International,Boston,Massachusetts,United States of America (the),42.363633,-71.010291
8,Detroit Metropolitan Wayne County,Romulus,Michigan,United States of America (the),42.212973,-83.353731
9,Charlotte Douglas International,Charlotte,North Carolina,United States of America (the),35.213689,-80.947811
10,Newark Liberty International,Newark,New Jersey,United States of America (the),40.691503,-74.175125
11,McCarran International,Paradise,Nevada,United States of America (the),36.082854,-115.148881
12,LaGuardia,New York,New York,United States of America (the),40.773883,-73.873246
13,John F. Kennedy International,New York,New York,United States of America (the),40.646027,-73.778447
14,Dallas/Fort Worth International,Grapevine,Texas,United States of America (the),32.894059,-97.039498
15,Washington Dulles International,Floris,Virginia,United States of America (the),38.947594,-77.442773
16,Seattle-Tacoma International,SeaTac,Washington,United States of America (the),47.450583,-122.308662
17,Calgary International,Calgary,Alberta,Canada,51.118475,-114.013123
18,Edmonton International,Leduc County,Alberta,Canada,53.308783,-113.576261
19,Vancouver International,Richmond,British Columbia,Canada,49.193579,-123.177541
20,Winnipeg International,Winnipeg,Manitoba,Canada,49.902471,-97.219062
21,Halifax International,Halifax,Nova Scotia,Canada,44.883017,-63.511672
22,Toronto Pearson,Mississauga,Ontario,Canada,43.679352,-79.631344
23,Hamilton International,Hamilton,Ontario,Canada,43.172036,-79.926693
24,Montreal Mirabel,Mirabel,Quebec,Canada,45.681503,-74.048380
25,Montreal Trudeau,Dorval,Quebec,Canada,45.467844,-73.742412

In [70]:
caLocations = dfCA[['Country/Region', "Province/State", "Latitude", "Longitude"]].drop_duplicates().dropna()
caLocations = caLocations[caLocations["Province/State"] != "Recovered"].reset_index(drop = True)
caLocations

   Country/Region             Province/State  Latitude  Longitude
0          Canada                    Ontario   51.2538   -85.3232
1          Canada           British Columbia   53.7267  -127.6476
2          Canada                    Alberta   53.9333  -116.5765
3          Canada                     Quebec   52.9399   -73.5491
4          Canada               Saskatchewan   52.9399  -106.4509
5          Canada                Nova Scotia   44.6820   -63.7443
6          Canada                   Manitoba   53.7609   -98.8139
7          Canada              New Brunswick   46.5653   -66.4619
8          Canada  Newfoundland and Labrador   53.1355   -57.6604
9          Canada       Prince Edward Island   46.5107   -63.4168
10         Canada                Nova Scotia   44.6820   -63.7443
11         Canada      Northwest Territories   64.8255  -124.8457
12         Canada                      Yukon   64.2823  -135.0000

### Groups for Canadian Airports
*Did this manually. 

Some provinces don't have data for their airports. Figure out what to do.
Assume that no Canadian travelled to US airports
I used www.travelmath.com/nearest-airport to make guesses

ON - Toronto Pearson, Hamilton International	
BC - Vancouver International	
AB - Calgary International, Edmonton International	
QC - Montreal Mirabel, Montreal Trudeau	
SK - ?
NS - Halifax International	
MB - Winnipeg International
NB - (Halifax International?)
NFL - ?
PEI - (Halifax International?)
NT - (Edmonton International?)
YK - (Vancouver International?)

#### TODO: Will repeat again with script (airport_grouping.ipynb)

In [73]:
usLocations = dfUS[['Country/Region', "County", "Province/State", "Latitude", "Longitude"]].drop_duplicates().dropna()
usLocations = usLocations[usLocations['Latitude'] != 0].reset_index(drop = True)
usLocations

     Country/Region             County Province/State   Latitude   Longitude
0                US      New York City       New York  40.767273  -73.971526
1                US             Nassau       New York  40.740665  -73.589419
2                US        Westchester       New York  41.162784  -73.757417
3                US            Suffolk       New York  40.883201  -72.801217
4                US           Rockland       New York  41.150279  -74.025605
5                US             Orange       New York  41.403375  -74.302408
6                US             Albany       New York  42.600603  -73.977239
7                US           Dutchess       New York  41.764861  -73.743567
8                US             Monroe       New York  43.146389  -77.693229
9                US               Erie       New York  42.762490  -78.730637
10               US           Onondaga       New York  43.004919  -76.199712
11               US           Saratoga       New York  43.109042  -73.866539
12               US        Schenectady       New York  42.816688  -74.052783
13               US             Putnam       New York  41.426301  -73.749655
14               US         Rensselaer       New York  42.713481  -73.510899
15               US             Ulster       New York  41.890279  -74.262521
16               US           Columbia       New York  42.248193  -73.630891
17               US           Tompkins       New York  42.449458  -76.472298
18               US           Sullivan       New York  41.715795  -74.763946
19               US            Niagara       New York  43.198980  -78.747774
20               US             Oneida       New York  43.243754  -75.437104
21               US            Ontario       New York  42.851457  -77.308744
22               US            Clinton       New York  44.745309  -73.678754
23               US           Herkimer       New York  43.420342  -74.961453
24               US             Broome       New York  42.159032  -75.813261
25               US         Montgomery       New York  42.901235  -74.440116
26               US              Essex       New York  44.116308  -73.772978
27               US              Wayne       New York  43.154944  -77.029765
28               US             Greene       New York  42.275797  -74.123849
29               US           Allegany       New York  42.257484  -78.027505
...             ...                ...            ...        ...         ...
3439             US         Williamson          Texas  30.646557  -97.600485
3440             US            Winkler          Texas  31.850087 -103.048516
3441             US             Yakima     Washington  46.457385 -120.738013
3442             US            Yakutat         Alaska  59.890981 -140.360145
3443             US        Yellowstone        Montana  45.939559 -108.269149
3444             US             Yoakum          Texas  33.173202 -102.827643
3445             US               Yolo     California  38.682789 -121.901829
3446             US               Yuba     California  39.262559 -121.353564
3447             US      Yukon-Koyukuk         Alaska  65.508155 -151.390739
3448             US           Garfield     Washington  46.431975 -117.545403
3449             US              Wayne       Michigan  42.278056  -83.378611
3450             US             Apache        Arizona  35.531300 -109.378300
3451             US           Coconino        Arizona  35.664800 -111.475300
3452             US             Harris          Texas  29.860000  -95.390000
3453             US           McKinley     New Mexico  35.715200 -108.237800
3454             US             Navajo        Arizona  35.402000 -110.140300
3455             US           San Juan     New Mexico  36.388200 -108.237800
3456             US  Washington County           Utah  37.322500 -113.477600
3457             US         Washington           Utah  37.322500 -113.477600
3458             US         Bear River           Utah  41.521068 -113.083282
3459             US       Central Utah           Utah  39.372319 -111.575868
3460             US     Southeast Utah           Utah  38.996171 -110.701396
3461             US     Southwest Utah           Utah  37.854472 -111.441876
3462             US          TriCounty           Utah  40.124915 -109.517442
3463             US       Weber-Morgan           Utah  41.271160 -111.914512
3464             US         Bear River           Utah  41.521068 -113.083282
3465             US     Southeast Utah           Utah  38.996171 -110.701396
3466             US           Dona Ana     New Mexico  32.352758 -106.832939
3467             US     Aleutians West         Alaska  52.323300 -174.159600
3468             US           New York       New York  40.767273  -73.971526

[3469 rows x 5 columns]

In [78]:
%store usLocations
%store caLocations
%store airportLocationsUS
%store airportLocationsCA
%store airportLocations

Stored 'usLocations' (DataFrame)
Stored 'caLocations' (DataFrame)
Stored 'airportLocationsUS' (DataFrame)
Stored 'airportLocationsCA' (DataFrame)
Stored 'airportLocations' (DataFrame)